.quemSomos {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(to top, #3b66dd, #7a49c3);
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quemSomosText {
  color: white;
  width: 85%;
  height: 500px;
}

.quemSomosText > h1 {
  font-size: 60px;
}

.quemSomosText > p {
  font-size: 30px;
}

@media (min-width: 720px) {
  .quemSomos {
    height: 450px;
    background-image: url("/banner.png");
    align-items: flex-start;
    justify-content: center;
  }

  .quemSomosText {
    margin-top: 60px;
    margin-left: 60px;
    color: white;
    width: 50%;
    height: 500px;
  }
}