.depoimentos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 530px;
  width: 80%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 30px;
  background-image: linear-gradient(to bottom, #3b66dd, #7a49c3);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  padding: 20px;
  /* border: 1px solid white; */
}

.textGroup {
  color: white;
  text-align: center;
  /* border: 1px solid white; */
}

.textGroup > h1 {
  font-size: 14px;
  line-height: 0;
}

.textGroup > h6 {
  font-size: 11px;
  line-height: 0;
}

.textGroup > h1,
.textGroup > h6 {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rating {
  display: inline-block;
  font-size: 0; /* Removes extra spacing between inline-block elements */
}

.star {
  display: inline-block;
  width: 20px; /* Adjust the size of the star */
  height: 20px; /* Adjust the size of the star */
  background-color: gray; /* Change the color of the star */
  clip-path: polygon(
    50% 0%,
    61.8% 38.2%,
    100% 35.4%,
    69.1% 61.8%,
    80.9% 100%,
    50% 76.4%,
    20.9% 100%,
    31.8% 61.8%,
    0% 35.4%,
    38.2% 38.2%
  );
  /* The above clip-path creates a star shape */
}

/* Adjust the stars' appearance based on the rating */
/* For example, to show a 3.5-star rating, you'd apply .star:nth-child(-n+3) */
.rating .star:nth-child(-n+5) {
  background-color: gold; /* Change color for filled stars */
}

/* Adjust the stars' appearance based on the fractional part of the rating */
/* For example, to show a 3.5-star rating, you'd apply .star:nth-child(4):before */
.rating .star:nth-child(n+6):before {
  content: '\2605'; /* Unicode character for a filled star (★) */
  position: absolute;
  color: gold;
}

/* Reset any styles that might interfere with the stars */
.rating .star:before {
  content: '\2606'; /* Unicode character for an outlined star (☆) */
  position: absolute;
  color: gray;
}

@media (min-width: 720px) {
  .cards {
    flex-direction: row;
    height: 10%;
    width: 90%;
    
  }

  .card {
    height: 200px;
    width: 2000px;
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  .cards {
    flex-direction: row;
    height: 10%;
    width: 50%;
  } 
}