.title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 2.7px solid white;
    color: white;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 100px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 1.0); 
    background-color: #6317ab;
    font-weight: 400;
    font-size: 1.875rem;
    font-family: "Roboto", sans-serif;
}