.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  width: 100%;
}

.nav {
  display: none;
}

.nav > a {
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

/*### Default Mobile First ###
### Media Query for tablet ###  */
@media (min-width: 720px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-right: 10px;
  }
}



/* @media (max-width: 640px) {
  .header {
    height: 150px;
  }
} */
/* 
@media (max-width: 760px) {
  .header {
    margin: 1rem;
    display: flex;
    align-items: center;
    height: auto;
  }

  .nav {
    margin-left: 0.8rem;
  }

  .nav > a {
    font-size: 0.8rem;
    padding-right: 1.2rem;
    width: auto;
  }
}

@media (min-width: 701px) and (max-width: 1366px) {
  .header {
    padding: 0 20px;
  }
} */
