.footer {
  border-top: 2px solid #2397d4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1366px;
  width: 100%;
  margin: 100px auto 16px auto;
}

.logoHorizontal {
  margin-top: 32px;
}

.list-footer > a {
  color: #6bd7f3;
  font-weight: bold;
  font-size: 1.4rem;
}

.item-list {
  margin-right: 32px;
}

.list-footer {
  margin-top: 32px;
}

.socialDiv {
  margin-top: 32px;
}

.socialList {
  margin-right: 16px;
}

.line {
  border: 1px solid #041c3d;
  margin-top: 32px;
  width: 100%;
}

.copy {
  color: #fff;
  font-weight: 400;
  margin-top: 32px;
  text-align: center;
}

/* @media screen and (max-width: 768px) {
  .footer {
    border-top: 2px solid #2397d4;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
  }

  .list-footer > a {
    font-size: 1rem;
  }
} */
