.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contatoImg {
  display: none;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 530px;
  background-image: linear-gradient(to top, #3b66dd, #7a49c3); /* Degradê horizontal */
  border-radius: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 500px;
  font-family: "Roboto", sans-serif;
}

 .inputs > input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 1rem;
  padding-left: 10px;
}

.inputs > textarea {
  width: 100%;
  height: 170px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-top: 16px;
  padding-left: 10px;
  margin-bottom: 50px;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}

@media (min-width: 720px) {
  .forms {
    width: 90%;
  }
}


@media (min-width: 1024px) {
  .forms {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .contatoImg {
    display: block;
  }

  .inputs {
    width: 40%;
  }

}