.servicos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 530px;
  margin: 10px auto;

  background-image: linear-gradient(to bottom, #3b66dd, #7a49c3); /* Degradê horizontal */
  border-radius: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

.card img {
  cursor: not-allowed;
  pointer-events: none;
}

.cardText {
  color: white;
}

.cardText > h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cardText > p {
  text-align: center;
  font-size: 20px;
  color: #fff;
  height: 100px;
}

@media (min-width: 720px) {
  .servicos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }

  .cards {
    width: 80%;
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .servicos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
  }

  .cards {
    width: 100%;
  }
}

/* 
@media only screen and (max-width: 768px) {
  .card {
    border-radius: 18px;

    padding: 2px;
  }

  .cardText > h1 {
    text-align: center;

    height: 45px;
  }

  .cardText > p {
    text-align: center;
    font-size: 15px;
    height: 45px;
    padding: 0 20px;
  }

  .card img {
    margin-bottom: 10px;
  }
}

/* Breakpoints corrects */

/* mobile only*/
/* @media (max-width: 890px) {
  .sectionCards {
    gap: 0px;
    margin: 1.25rem;
  }
}

/* tablet only*/
/* @media (min-width: 701px) and (max-width: 1200px) {
  .sectionCards {
    margin: 0 auto;
    margin: 0.975rem;
  }
  .card {

    border-radius: 18px;

    padding: 2px;
  }

  .card img {
    width: 120px;
    height:120px;
    margin-bottom: 10px;
  }

  .cardText > h1 {
    text-align: center;
    font-size: 16px;

    height: 20px;
  }

  .cardText > p {
    text-align: center;
    font-size: 12px;
    padding: 0 20px;
    height: 45px;
  }
} */ 
