.clientes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 530px;
  background-image: linear-gradient(to bottom, #3b66dd, #7a49c3);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
  border-radius: 30px;
}

.cards > h1 {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.644);
  font-size: 20px;
}

.logo {
  height: 200px;
}

@media (min-width: 720px) {
  .cards {
    flex-direction: row;
    width: 90%;
    height: 300px;
  }
}

@media (min-width: 1024px) {
  .cards {
    flex-direction: row;
    width: 100%;
    height: 300px;
  }
}